:root {
    --bg: #1f1f1f;
    --destaque: #1d8b1d;
    --usuario: #a31c17;
    --fonte: #aca083;
    --fonte-inv: #534F7C;
    --bg-inv: #E0E0E0;
}

body {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    background-color: var(--bg) ;
    letter-spacing: normal;
}

::selection {
    color: var(--fonte-inv);
    background-color: var(--bg-inv);
}

::-moz-selection {
    color: var(--fonte-inv);
    background-color: var(--bg-inv);
}

.terminal-container {
    color: var(--fonte);
    padding: 20px;
}

.terminal-output {
    white-space: pre-wrap;
}

.terminal-input {
    display: flex;
}

.input-span {
    margin-right: 5px;
}

.input-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.comandos {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    font: inherit;
    letter-spacing: normal;
    margin-top: -1px;
    margin-left: 3px;
    line-height: inherit;
    width: calc(100% - 20px);
    caret-color: transparent;
}

.terminal-response {
    animation: none;
    white-space: pre-wrap;
}

.destaque {
    color: var(--destaque);
}

.margincolors {
    margin-left: 90px;
}

.resposta {
    margin-top: 5px;
    margin-bottom: 5px;
}

.usuario {
    color: var(--usuario);
}

.txt-cursor {
    position: absolute;
    left: calc(100% - 1px);
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 1.3rem;
    background-color: #E0E0E0;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--usuario);
}

.destaque a:hover {
    color: var(--usuario);

}

.fotoperfil {
    height: 250px;
    width: 250px;
}
